<div class="card content">
    <img src="{{ post.header }}"></img>
    <div class="blog-content">
        <h2>{{ post.title }}</h2>
        <div class="time">
            <i class="far fa-calendar-alt"></i>
            <div>{{ post.date | date: "%B %-d, %Y" }}</div>
        </div>
        <div class="time">
            <i class="far fa-clock"></i>
            <div>~{{ post.content | number_of_words | divided_by:180 }} mins</div>
        </div>
        <p>{{ post.description }}</p>
    </div>
    <a href="{{ post.url }}" class="read-more">continue reading...</a>
</div>