---
---
@import url("/assets/css/native.css");
body {
    background-color: #545454;
    color: #f9fbef;
    font-family: "open sans", "roboto";
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #454545;
}

footer a {
    color: #f9fbef;
}

.navbar {
    z-index: 2;
    position: sticky;
    top: 0;
    background-color: #454545;
    width: 100%;
    display: table;
}

.navbar b {
    display: table-cell;
    width: 15%;
    vertical-align: middle;
    text-align: center;
}

.navbar a {
    color: #5271FF;
    text-decoration: none;
    font-size: 1.5em;
}

.navbar a:hover {
    color: #f9fbef;
}

.rat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.spin-rat {
    animation: 20s linear 0s infinite running rotate;
}

.spin-rat img:hover {
    animation: 0.2s linear bob;
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}

@keyframes bob {
    50% {
        transform: scale(120%);
    }

    to {
        transform: scale(100%);
    }
}

.blog-posts-container {
    align-items: center;
}

.blog-posts-container h2 {
    align-items: center;
    text-align: center;
}

.blog-post-card {
    display: block;
    margin: auto;
    margin-bottom: 1%;
    border: #5271FF solid 1px;
    border-radius: 2vh;
    min-width: 320px;
    width: 50%;
    color: #f9fbef;
    text-decoration: none;
    text-align: center;
}

.post-content * {
    padding: 2%;
}

.post-content img:nth-child(even) {
    float: left;
}
.post-content img:nth-child(odd) {
    float: right;
}

pre, code {
    background-color: #454545;
    line-height: normal;
    letter-spacing: normal;
}

code { padding: 1px 5px !important; }

pre { padding: 8px 12px !important; overflow-x: auto; }

pre > code { border: 0; padding-right: 0 !important; padding-left: 0 !important; }

.post-content {
    padding-left: 20%;
    padding-right: 20%;
    letter-spacing: normal;
    line-height: 1.5;
}

.header-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 10%;
}