---
layout: default
---
<div class="about page">
    <div class="content not-post">{{ content | markdownify }}</div>
    <div class="content not-post">
        <h2>The Team</h2>
        <div class="person-container">
            {% for person in site.data.about.about %}
            <div class="person">
                <h3>{{ person.name }}</h3>
                <img src=" {{ person.image }} ">
                <p>{{ person.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>