---
---
<!DOCTYPE html>

<head>
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="icon" href="/assets/images/logos/RatFinals2-700x700.png">
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Primary Meta Tags -->
    <title>Rat Launchers | Blog and Info</title>
    <meta name="title" content="Rat Launchers | Blog and Info">
    <meta name="description" content="Rat Launchers is a team of 5 Canadian high school students participating in the CanSat Design Challenge.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ratlaunchers.tech/">
    <meta property="og:title" content="Rat Launchers | Blog and Info">
    <meta property="og:description" content="Rat Launchers is a team of 5 Canadian high school students participating in the CanSat Design Challenge.">
    <meta property="og:image" content="https://github.com/RatLaunchers/ratlaunchers.github.io/tree/main/assets/images/logos/RatFinals2Meta">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://ratlaunchers.tech/">
    <meta property="twitter:title" content="Rat Launchers | Blog and Info">
    <meta property="twitter:description" content="Rat Launchers is a team of 5 Canadian high school students participating in the CanSat Design Challenge.">
    <meta property="twitter:image" content="https://github.com/RatLaunchers/ratlaunchers.github.io/tree/main/assets/images/logos/RatFinals2Meta">
</head>

<body>
    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}
</body>