---
layout: default
---
<div class="gallery page">
  {% for date in site.data.gallery %}
  <div class="section">
    <h1>{{ date[0] | date: "%B %-d, %Y" }}</h1>
    <div class="images">
      {% for image in date[1].images %}
      <div class="image">
        <div class="drag-blocker"></div>
        <img src="/assets/images/gallery/{{ date[0] }}/{{ image.image }}" alt="{{ image.desc }}">
      </div>
      {% endfor %}
      {% for video in date[1].videos %}
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/{{ video.id }}"
        title="YouTube video player"
        frameborder="0"
        allow="
          accelerometer;
          autoplay;
          clipboard-write;
          encrypted-media;
          gyroscope;
          picture-in-picture"
        allowfullscreen>
      </iframe>
      
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>