---
layout: default
---
<div>
    <div class="rat-container">
        <div class="spin-rat"><img src="/assets/images/Rat-Launchers-Small.png" alt="rat"></div>
    </div>
    <div style="width: 50%; text-align: center; margin: auto;">
        <h2>Who We Are</h2>
        {{ page.about | markdownify }}
    </div>
    <div style="width: 50%; text-align: center; margin: auto;">
        <h2>Sponsors</h2>
        {% for sponsor in site.data.sponsors.sponsors %}
        <a href="{{ sponsor.link }}">
            <img src="{{ sponsor.image }}" alt = "{{sponsor.name}}">
        </a>
        {% endfor %}
    </div>
    <div class="blog-posts-container">
        <h2>Latest Rat Post</h2>
        {% for post in site.posts limit: 1 %}
            {% include blog_card.html %}
        {% endfor %}
    </div>
</div>
